.styled-text-area .text {
  -fx-fill: #fff;
}

.paragraph-box:has-caret {
  -fx-border-width: 1px;
  -fx-border-color: #262626;
  -fx-border-style: solid inside;
}

.paragraph-box {
  -fx-background-color: #1e1e1e;
  -fx-border-width: 1px;
  -fx-border-color: transparent;
  -fx-border-style: solid inside;
}


/* Text selection */
.styled-text-area .selection {
  -fx-fill: #264e77 !important;
}

.styled-text-area .lineno {
  -fx-background-color: #1e1e1e;
  -fx-fill: #fff;
  -fx-pref-width: 50px;
}

.caret {
  -fx-stroke: #fff;
}

.underline {
  -fx-underline: true;
}

.search-dark-mode {
  -fx-effect: dropshadow(gaussian, grey, 3, 1, 0, 0);
}

.search-light-mode {
  -fx-effect: dropshadow(gaussian, yellow, 3, 1, 0, 0);
}


/*
-------------------------------------
        Syntax highlight styles
*/

.error {
  -fx-underline: true;
  -fx-effect: dropshadow( one-pass-box , red , 1, 0.0, 0, 1 );
}

/* Blue for access modifiers, class-related keywords, etc. */
.styled-text-area .access-modifier {-fx-fill: #47A2ED;}

/* Grey for no-access class-related keywords */
.styled-text-area .no-access {
  -fx-fill: grey !important;
  -fx-font-style: italic !important;
}

/* Keywords like if, while, for, switch, etc. */
.styled-text-area .keyword { -fx-fill: #c686dc;}

/* Data types e.g. int, short, long, boolean, etc. */
.styled-text-area .datatype {-fx-fill: #47A2ED;}

/* Strings */
.styled-text-area .strings {-fx-fill: #CD9069; }

/* Numbers */
.styled-text-area .literal{ -fx-fill: #B4CDA8;}

/* Method Name */
.styled-text-area .method-name {-fx-fill: #E6E6AA;}

/* Method Call */
.styled-text-area .method-call {-fx-fill: #E6E6AA;}

/* Method Call */
.styled-text-area .unknown-method {-fx-fill: #E6E6AA; -fx-font-style: italic;}

/* Comments */
.styled-text-area .comment {-fx-fill: #699856;}

/* Variables */
.styled-text-area .variable {-fx-fill: #94DBFD;}

/* Class Name */
.styled-text-area .class-name {-fx-fill: #47CCB1;}

/*bracket characters e.g. [, {, ( */
.styled-text-area .bracket { -fx-fill: #D3D3D3; -fx-font-weight: bold;}


/* Default, if none of the above are found*/
.styled-text-area .identifier {-fx-fill: #D3D3D3;}
.styled-text-area .default {-fx-fill: #D3D3D3;}

